<div class="share-links">
  <span class="title">Compartilhe: </span>
  <ul class="share-list list">
    <li class="share-item item facebook">
      <a href="https://pt-br.facebook.com/MapleBearBrasil/" class="share-link link" target="_blank">
        <svg class="ico"><use xlink:href="#s-facebook"></use></svg>
      </a>
    </li>
    <li class="share-item item twitter">
      <a href="" class="share-link link" target="_blank">
        <svg class="ico"><use xlink:href="#s-twitter"></use></svg>
      </a>
    </li>
    <li class="share-item item instagram">
      <a href="https://www.instagram.com/maplebearbrasil/" class="share-link link" target="_blank">
        <svg class="ico"><use xlink:href="#instagram"></use></svg>
      </a>
    </li>
    <li class="share-item item linkedin">
      <a href="" class="share-link link" target="_blank">
        <svg class="ico"><use xlink:href="#s-linkedin"></use></svg>
      </a>
    </li>
    <li class="share-item item pinterest">
      <a href="" class="share-link link" target="_blank">
        <svg class="ico"><use xlink:href="#s-pinterest"></use></svg>
      </a>
    </li>
    <li class="share-item item whatsapp">
      <a href="" class="share-link link" target="_blank">
        <svg class="ico"><use xlink:href="#whats"></use></svg>
      </a>
    </li>
    
  </ul>
</div>