<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="shipping-information">
    <div class="ship-to">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Ship To:'"></span>
            <button class="action action-edit" data-bind="click: back">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <div class="icon-shipping">
                <svg data-v-2b5c1647="" id="address" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" xml:space="preserve" class="ico"><path data-v-2b5c1647="" d="M8,0C4.8,0,2.2,2.6,2.2,5.8c0,4,5.2,9.8,5.4,10c0.2,0.2,0.6,0.2,0.8,0c0.2-0.2,5.4-6.1,5.4-10C13.8,2.6,11.2,0,8,0z M8,8.7c-1.6,0-2.9-1.3-2.9-2.9S6.4,2.9,8,2.9s2.9,1.3,2.9,2.9S9.6,8.7,8,8.7z"></path></svg>
            </div>
            <div class="content-address">
                <!-- ko foreach: getRegion('ship-to') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
        </div>
    </div>
    <div class="ship-via">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Shipping Method:'"></span>
            <button class="action action-edit" data-bind="click: backToShippingMethod">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            
            <div class="icon-shipping">
                
                <svg
                viewBox="0 -256 1792 1792"
                version="1.1"
                width="100%"
                height="100%">
                <defs
                    id="defs3651" />
                <sodipodi:namedview
                    pagecolor="#ffffff"
                    bordercolor="#666666"
                    borderopacity="1"
                    objecttolerance="10"
                    gridtolerance="10"
                    guidetolerance="10"
                    inkscape:pageopacity="0"
                    inkscape:pageshadow="2"
                    inkscape:window-width="640"
                    inkscape:window-height="480"
                    id="namedview3649"
                    showgrid="false"
                    inkscape:zoom="0.13169643"
                    inkscape:cx="896"
                    inkscape:cy="896"
                    inkscape:window-x="0"
                    inkscape:window-y="25"
                    inkscape:window-maximized="0"
                    inkscape:current-layer="svg3643" />
                <g
                    transform="matrix(1,0,0,-1,-30.372881,1224.678)"
                    id="g3645">
                    <path
                    d="m 640,128 q 0,52 -38,90 -38,38 -90,38 -52,0 -90,-38 -38,-38 -38,-90 0,-52 38,-90 38,-38 90,-38 52,0 90,38 38,38 38,90 z M 256,640 H 640 V 896 H 482 q -13,0 -22,-9 L 265,692 q -9,-9 -9,-22 V 640 z M 1536,128 q 0,52 -38,90 -38,38 -90,38 -52,0 -90,-38 -38,-38 -38,-90 0,-52 38,-90 38,-38 90,-38 52,0 90,38 38,38 38,90 z m 256,1088 V 192 q 0,-15 -4,-26.5 -4,-11.5 -13.5,-18.5 -9.5,-7 -16.5,-11.5 -7,-4.5 -23.5,-6 -16.5,-1.5 -22.5,-2 -6,-0.5 -25.5,0 -19.5,0.5 -22.5,0.5 0,-106 -75,-181 -75,-75 -181,-75 -106,0 -181,75 -75,75 -75,181 H 768 q 0,-106 -75,-181 -75,-75 -181,-75 -106,0 -181,75 -75,75 -75,181 h -64 q -3,0 -22.5,-0.5 -19.5,-0.5 -25.5,0 -6,0.5 -22.5,2 Q 105,131 98,135.5 91,140 81.5,147 72,154 68,165.5 64,177 64,192 q 0,26 19,45 19,19 45,19 v 320 q 0,8 -0.5,35 -0.5,27 0,38 0.5,11 2.5,34.5 2,23.5 6.5,37 4.5,13.5 14,30.5 9.5,17 22.5,30 l 198,198 q 19,19 50.5,32 31.5,13 58.5,13 h 160 v 192 q 0,26 19,45 19,19 45,19 h 1024 q 26,0 45,-19 19,-19 19,-45 z"
                    id="path3647"
                    inkscape:connector-curvature="0"
                    style="fill:currentColor" />
                </g>
                </svg>
            </div>

            <span class="value" data-bind="text: getShippingMethodTitle()"></span>
        </div>
    </div>
</div>