.checkout-index-index {
    background-color: var(--backgrounds);

    .opc-summary-wrapper {
        .modal-inner-wrap {
            .modal-header {
                .action-close {display: none;}
            }
        }
    }

    .page-main {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 15vh;

        @media (max-width: 767px) {
          width: calc(100% - 2rem);
        }
        

        .column.main {
            float: left;
        }

        .checkout-container {
            position: relative;
            height: auto;
            display: block;
            margin-bottom: 0;
            min-height: 100vh;

            > * {
              @media (min-width: 768px) {
                width: 50%;
              }
            }

            .opc-progress-bar {
                display: none;
            }

            .opc-wrapper {
                @media (min-width: 768px) {
                  width: 50%;
                  padding-right: 0;
                  margin-top: 30px;
                }

                #checkout-step-shipping {
                    margin-bottom: 0;
                }

                #co-shipping-method-form {
                    .actions-toolbar {
                        .primary {
                            float: right;
                        }
                    }
                }

                .step-content {
                    margin-bottom: 0;
                }
                      
                .step-title {
                    margin-bottom: 10px;
                    color: #555;
                    font-weight: 800;
                    margin-top: 0;
                    padding-bottom: 0;
                }

                .action-show-popup {
                    background-color: var(--brightness);
                    color: var(--midtone);
                    border: none;
                    border-radius: 5px;
                    width: 100%;
                    font-weight: 400;
                    padding: 12px;
                    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
                }
            }

            .shipping-address-items {
                flex-direction: column;

                .shipping-address-item.selected-item {
                    border: none;
                    border-left: solid 7px var(--midtone);

                    &::after {
                        content: unset;
                    }
                }

                .shipping-address-item {
                    width: 100%;
                    padding: 10px 0;
                    background: var(--brightness);
                    display: flex;
                    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    margin-bottom: 12px;

                    .address-icon {
                        display: flex;
                        justify-content: center;
                        padding: 0 20px;

                        svg {
                            width: 35px;
                            fill: var(--shadow);
                        }
                    }

                    &::before {
                        content: unset;
                    }

                    .address-name, .address-phone {
                        display: none;
                    }

                    .action-select-shipping-item {
                        background: transparent;
                        color: transparent;
                        border: none;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        box-shadow: none;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }

        .opc-sidebar {
            background: var(--brightness);
            position: absolute;
            right: 0;
            top: 0;
            width: 45% !important;
            overflow-y: auto;
            margin-bottom: 0;
            //border-bottom: solid 30vh var(--brightness);
            box-sizing: content-box;

            .table-totals {
                .totals.sub, .totals.discount {
                    display: none;
                }
            }

            .title {
                margin-bottom: 10px;
                color: #555;
                font-weight: 800;
                margin-top: 0;
                padding-bottom: 0;
            }

            .items-in-cart {
                padding: 20px;
                background: var(--brightness)!important;
                box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);

                .title {
                    display: none;
                }

                .content.minicart-items {
                    display: block!important;
                    border-radius: 5px;
                
                    .minicart-items-wrapper {
                        padding: 0;
                        width: 100%;

                        .product-item {
                            padding-bottom: 0;
                            border-top: none;
                            box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.2);
                            margin: 3px 2px;
                            padding: 5px;
                            border-radius: 5px;
                            .product {
                                display: flex;
                                align-items: center;

                                .product-image-container {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin: 0 20px;
                                }

                                .product-item-details {
                                    padding-left: 0;
                                    padding-top: 0;

                                    .product-item-inner {
                                        margin-bottom: 0;
                                        .product-item-name-block {
                                            .product-item-name {
                                                margin: 0;
                                                font-weight: 800;
                                            }

                                            .details-qty {
                                                margin-top: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .shipping-information {
                .shipping-information-title {
                    border-bottom: none;
                    margin: 0;

                    span {
                        font-size: 18px;
                        font-weight: 700;
                        color: #555;
                    }
                }

                .shipping-information-content {
                    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
                    padding: 12px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;

                    .icon-shipping {
                        width: 40px;
                        height: 40px;
                        margin-right: 20px;
                        margin-left: 10px;

                        svg {
                            fill: var(--shadow);
                        }
                    }
                }
            }
        }

        .table-checkout-shipping-method {

            .radio {
                &:checked {
                    &::after {
                        content: 'o';
                        font-family: 'Dm Sans';
                        height: 14px;
                        position: absolute;
                        background: var(--midtone);
                        border-radius: 50%;
                        border: solid 2px var(--midtone);
                        color: #fff;
                        font-size: 20px;
                        text-align: center;
                        line-height: 10px;
                        margin-left: -3px;
                        margin-top: -2px;
                        font-weight: 100;
                    }
                }
            }

            thead {display: none;}
            tbody {
                tr {
                    background-color: var(--brightness);
                    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    margin-bottom: 12px;
                    display: flex;

                    &.active {
                        border-left: solid 7px var(--midtone);
                    }

                    .col-method {
                        padding: 0 20px;
                        order: 0;
                        display: flex;
                        align-items: center;
                        position: relative;
                        line-height: 17px;
                    }

                    .col-price {
                        order: 5;
                    }

                    .col-carrier {
                        width: 100%;
                    }

                    &:last-child {
                        display: flex;
                        background-color: transparent!important;
                        box-shadow: none!important;

                        .col-method {
                            display: none!important;
                        }

                        .col-carrier {
                            table {
                                .seller-method-table {
                                    border: none;
                                    tr {
                                        background-color: var(--brightness)!important;
                                        border: none!important;
                                        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2)!important;

                                        &.active {
                                            border-left: solid 7px var(--midtone)!important;
                                        }

                                        .col-method {
                                            width: 100%!important;
                                            display: flex!important;
                                            align-items: center;
                                        }

                                        &:first-child {
                                            background-color: transparent!important;
                                            box-shadow: none!important;
                                            border: none!important;

                                            td {
                                                display: none!important;

                                                &:first-child {
                                                    display: block;
                                                }

                                                &:last-child{
                                                    padding: 0;
                                                    display: block!important;

                                                    .col-method {
                                                        display: none!important;
                                                    }
    
                                                    span {
                                                        color: #555;
                                                        padding: 0!important;
                                                        margin: 0!important;
                                                    }
                                                }
                                            }
                        
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .actions-toolbar {
                .primary {
                    float: right!important;
                }
            }
        }
        
    }

    .modal-inner-wrap {

        width: auto!important;
        
        .modal-header {

            .modal-title {
                display: none;
            }

            .action-close {
                border: solid 2px var(--midtone);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                    color: var(--midtone);
                    font-weight: bold;
                }
            }
        }

        .modal-footer {
            display: flex;
            justify-content: center;
            align-items: center;
        
            .action.primary {
                width: 50%;
                padding: 12px;
            }

            .action.secondary {
                display: none;
            }
        } 
        
        #opc-new-shipping-address {
            display: flex;
            justify-content: center;

            .form-shipping-address {
                box-shadow: none;
                width: 70%;

                @media (max-width: 767px) {
                  width: 100%;
                }
            }
        }
    }
}

.form-shipping-address {
    background: #fff;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px 10px;
    border-radius: 5px;
    max-width: 100%!important;

    #shipping-new-address-form {
        display: flex;
        flex-direction: column;
    }

    div[name="shippingAddress.postcode"] {
        order: -1;
    }

    div[name="shippingAddress.firstname"], div[name="shippingAddress.lastname"],
    div[name="shippingAddress.company"], div[name="shippingAddress.fax"],
    div[name="shippingAddress.vat_id"] {
        display: none;
    }
}

.form.payments {
    #form_bizpay_cc {
      .fieldset {
        transform: scale(1);

        > * {
          transform: scale(1);
        }
      }
    }
    .fieldset {
        transform: scale(-1);

        > * {
            transform: scale(-1);
        }

        .discount-code {
            background-color: var(--brightness);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            margin: 10px 0;

            .form-discount {
                display: flex;

                .payment-option-inner {
                    width: 80%;
                }

                .actions-toolbar {
                    width: 20%;
                    
                    .primary {
                        width: 100%;
                        .action-apply {
                            width: 100%;
                            border-radius: 65px;
                            background: var(--gradient-dark);
                            border: none;
                            margin-left: -65px;
                        }
                    }
                }
            }
        }

        .items.payment-methods {
          
            @media(max-width: 767px) {
              margin: 0;
            }

            .payment-method {
                background: var(--brightness);
                padding: 0 10px;
                box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
                margin: 10px 0;
                border-radius: 5px;

                .payment-method-title {
                    border-top: none;
                }
            }
        }
    }
}
.opc-estimated-wrapper {
  @media(max-width: 767px) {
    margin: 0 -15px 15px;
  }
}

.methods-shipping .actions-toolbar .action.primary {
  margin: 34px 0 0;
}
